<div class="mt-2 container">
  <h1>Edição</h1>
  <div class="mb-3">
    <label  class="form-label">Nome do evento</label>
    <input type="text" class="form-control"  placeholder="{{eventName}}"
      value="{{eventName}}" (keyup)="handleChangeEventName($event)">
  </div>
  <div class="mb-3">
    <label  class="form-label">Hora de início</label>
    <input type="text" class="form-control"  placeholder="{{initialDatetime}}"
      value="{{initialDatetime}}" (keyup)="handleChangeEventInitialDatetime($event)">
  </div>
  <div class="mb-3">
    <label  class="form-label">Hora de término</label>
    <input type="text" class="form-control"  placeholder="{{finalDatetime}}"
      value="{{finalDatetime}}" (keyup)="handleChangeEventFinalDatetime($event)">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
    <textarea class="form-control" rows="3" placeholder="{{description}}"
      value="{{description}}" (keyup)="handleChangeEventDescription($event)"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" (click)="setEventEdit()">Confirmar</button>
</div>
