<div class="background-img">
  <div class="fundo">
    <div class="text-logo text-white pt-3">
      <h1 class="pt-2 text-center">My Events</h1>
      <div class="signin-register-buttons">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
