<div class="main-page">

  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm-12 content">
        <nav  class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <a class="navbar-brand font-weight-bold" href="#">My Event</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink='listar'>Listar</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink='criar'>Criar</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink='/' (click)="logout()">Sair</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="displayed-content">
          <!-- templates -->
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

</div>
