.main-page {
  display: table;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 168, 84); */
  background-image: url('../../../assets/img/img-note.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  padding: 0;
}

