<div class="mt-3 container">
  <div>
    <h1>Criar novo evento:</h1>
  </div>
  <form>
    <div class="form-group">
      <label class="font-weight-bold">Nome</label>
      <input name="inputName" type="text" class="form-control" placeholder="Nome do evento" [(ngModel)]="eventName">
    </div>
    <div class="form-group">
      <label class="font-weight-bold">Descrição</label>
      <textarea name="inputDesc" class="form-control" rows="3" placeholder="Descrição do evento" [(ngModel)]="eventDescription"></textarea>
    </div>

    <div class="d-flex justify-content-center">

      <div class="m-2 row justify-content-center p-2">
        <h3>Inicio</h3>
        <div class="input-group">
          <input class="form-control" placeholder="AAAA-MM-DD" name="dp" ngbDatepicker #d1="ngbDatepicker" (dateSelect)="onInitialDateChange($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
          </div>
        </div>
        <ngb-timepicker name="initialTimepicker" [(ngModel)]="initialTime"></ngb-timepicker>
      </div>

      <div class="m-2 row justify-content-center p-2">
        <h3>Fim</h3>
        <div class="input-group">
          <input class="form-control" placeholder="AAAA-MM-DD" name="dp" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="onFinalDateChange($event)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
          </div>
        </div>
        <ngb-timepicker name="finalTimepicker" [(ngModel)]="finalTime"></ngb-timepicker>
      </div>

    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-block font-weight-bold" (click)="setEvent()">Criar</button>
    </div>
  </form>
</div>
