<div>

    <div class="d-flex">
      <div class="register-form container rounded ">
        <form class="pb-3 pt-2">
          <label class=""><h1>Cadastro</h1></label>
          <div class="mb-3">
            <label class="form-label">Nome completo</label>
            <input type="email" class="form-control"
              aria-describedby="emailHelp" (keyup)="getUsername($event)">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control"
              aria-describedby="emailHelp" (keyup)="getEmail($event)">
          </div>
          <div class="mb-3">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control" (keyup)="getPassword($event)">
            <label class="form-label mt-1">Confirmar senha</label>
            <input type="password" class="form-control" (keyup)="getConfirmPassword($event)">
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-warning btn-lg btn-block"
              (click)="handleSendNewRegister()">Cadastrar</button>
          </div>
          <div class="d-flex justify-content-center mt-1">
            <button type="button" class="btn btn-success btn-lg btn-block" routerLink="/">Fazer login</button>
          </div>
        </form>
      </div>
    </div>

</div>
