<div>
  <div class="d-flex">
    <div class="register-form container rounded ">
      <form class="pb-3 pt-2">
        <label class=""><h1>Login</h1></label>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control"
            aria-describedby="emailHelp" (keyup)="getEmail($event)">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" class="form-control"
            (keyup)="getPassword($event)">
        </div>
        <div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success btn-lg btn-block"
              (click)="handleSigninEmailPassword()">Entrar</button>
          </div>
          <div class="d-flex justify-content-center mt-1">
            <button type="button" class="btn btn-warning btn-lg btn-block" routerLink="/register">Registrar-se</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
