/* .background-img {
  display: table;
  width: 100%;
  height: 100vh;
  background-image: url('../../img/img-people.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

.register-form {
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* background-color: rgba(0, 163, 163, 0.5); */
  color: #fff;
  max-width: 400px;
  /* margin-top: 7%; */
  z-index: 1;
  filter: blur(0px);
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
